<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Нёрдс</title>
  </head>
  <body>

   /** Допустимые общие стили **/

  html, body {
    max-width: 1140px;
    min-height: 1200px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    box-sizing: border-box;
  }

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .container {
    width: 1160px;
    padding: 0 60px;
    margin: 0 auto;
  }

  .visually-hidden {
    visibility: hidden;
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
  }

  /** Стили для страницы index.html **/
  /** Шапка сайта **/

  header {
    display: block;
    background-color: #eeeeee;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding: 50px 0 18px 0;
  }

  .index-logo {
    display: inline-block;
    width: 160px;
    height: 65px;
  }

  .index-logo:hover {
    opacity: 0.8;
  }

  .index-logo:active {
    opacity: 0.3;
  }

  .main-navigation ul {
    margin: 0;
    padding: 13px 0;
    list-style: none;
    font-size: 0;
  }

  .main-navigation li a {
    margin: 0;
    color: #000000;
    font-family: "Roboto Medium";
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .main-navigation a:hover,
  .user-navigation a:hover {
    color: #fb565a;
  }

  .main-navigation a:active,
  .user-navigation a:active {
    color: #a6a6a6;
  } 

  .main-navigation .active,
  .user-navigation .active {
    border-bottom: 1px #fb565a solid;
  }

  .index-logo {
    display: block;
    align-self: flex-start;
  }

  .site-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
  }

  .site-navigation li {
    margin-right: 47px;
  }

  .site-navigation li:last-child {
    margin-right: 0;
  }

  .user-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    width: 160px;
  }

  .login-link {
    position: relative;
  }

  .login-link:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 100px;
    background-image: url("../img/cart-icon.svg");
  }

  /** Cлайдера в index.html **/

  .slider {
    display: block;
    position: relative;
    width: 1160px;
    min-height: 410px;
    margin: 0;
    overflow: hidden;
  }

  .slider input[type="radio"] {
    display: none;
  }

  .slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    z-index: 10;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }

  .slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    vertical-align: top;
    background: #ffffff;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 444px;
    background-repeat: no-repeat;
    background-position: 100% 0px;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .slide h2 {
    font-family: "Roboto Medium";
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    width: 400px;
    margin-bottom: 40px;
  }

  .slide p {
    font-weight: 500;
    line-height: 22px;
    color: #283136;
    width: 400px;
    margin-bottom: 40px;
  }

  .slide a {
    display: block;
    width: 240px;
    height: auto;
    padding: 17px 50px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background: #fb565a;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
  }

  .slide a:hover {
    background-color: #e74246;
  }

  .slide a:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px #c13135 solid;
  }  

  .slide img {
    position: absolute;
    bottom: 0;
    left: 412px;
  }

  .slide:first-child img {
    width: 698px; 
    height: 413px;
  }

  .slide:nth-of-type(2) img {
    width: 663px;
    height: 430px;
  }

  .slide:nth-of-type(3) img {
    width: 759px;
    height: 411px;
    left: 400px;
  }

  #btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
  }

  #btn-1:checked ~ .slides .slide:nth-child(2),
  #btn-1:checked ~ .slides .slide:nth-child(3) {
    left: 1160px;
  }

  #btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -1160px;
  }

  #btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
  }

  #btn-2:checked ~ .slides .slide:nth-child(3) {
    left: -1160px;
  }

  #btn-3:checked ~ .slides .slide:nth-child(1) {
    left: -1160px;
  }

  #btn-3:checked ~ .slides .slide:nth-child(2) {
    left: -1160px;
  }

  #btn-3:checked ~ .slides .slide:nth-child(3) {
    left: 0;
  }

  #btn-1:checked ~ .slider-controls label[for="btn-1"],
  #btn-2:checked ~ .slider-controls label[for="btn-2"],
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
  }

  /** "Веб-сайты - Приложения - Презентации" index.html **/

  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #eeeeee solid;
    padding-bottom: 80px;
  }

  .catalog img {
    width: 300px;
    height: 146px;
    margin-bottom: 30px;
  }

  .catalog h3 {
    font-family: "Roboto Bold";
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .catalog p {
    color: #283136;
    width: 260px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .catalog a {
    display: inline-block;
    color: #ffffff;
    font-family: "Roboto Medium";
    font-size: 16px;
    line-height: 18px;
    height: auto;
    padding: 17px 40px;
    text-transform: uppercase;
    border-radius: 2px;
  }

  .website a {
    background-color: #fb565a;
  }

  .website a:hover {
    background-color: #e74246;
  }

  .website a:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px #9b2d30 solid;
  }

  .attachment a {
    background-color: #00ca74;
  }

  .attachment a:hover {
    background-color: #00bc6c;
  }

  .attachment a:active {
    background-color: #00aa62;
    color: #4dc491;
    border-top: 3px #009958 solid;
  }

  .presentation a {
    background-color: #efc84a;
  }

  .presentation a:hover {
    background-color: #eab534;
  }

  .presentation a:active {
    background-color: #e5a722;
    color: #edc265;
    border-top: 3px #ce961f solid;
  }

  /** "Мы - гордая студия из Краснодара" index.html **/

  .who-we-are {
    display: block;
  }

  .who-we-are__top-container,
  .who-we-are__bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .who-we-are__bottom-container {
    align-items: flex-start;
  }

  .about-us {
    width: 660px;
  }

  .about-us p b {
    font-family: "Roboto Medium";
    font-size: 45px;
    line-height: 45px;
    color: #000000;
  }

  .about-us p {
    color: #283136;
  } 

  .our-logo {
    width: 360px;
  }

  .we-can {
    width: 660px;
  }

  .we-can h4,
  .how-we-cool h4 {
    font-family: "Roboto Bold";
    text-transform: uppercase;
    color: #000000;
  }

  .we-can ul {
    list-style-type: none;
  }

  .we-can li {
    position: relative;
    margin-top: 35px;
  }

  .we-can li:before {
    position: absolute;
    content: "";
    bottom: 6px;
    left: -38px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
  }

  .how-we-cool {
    width: 360px;
  }

  .how-we-cool h4 {
    margin-bottom: 50px;
    text-align: end;
  }

  .how-we-cool th {
    font-family: "Robooto Bold";
    font-size: 45px;
    color: #000000;
  }

  .how-we-cool td {
    line-height: 18px;
  }

  .our-logo img {
    width: 360px;
    height: 208px;
  }

  /** "Ссылки партнеров" index.html**/

  .our-clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 181px;
    border-top: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
    margin-bottom: 80px;
  }

  .our-clients a {
    opacity: 0.2;
  }

  .our-clients a:hover {
    opacity: 1;
  }

  .our-clients a:active {
    opacity: 0.1;
  }

  .htmlacademy img {
    width: 199px;
    height: 68px;
  }

  .borodinski img {
    width: 209px;
    height: 90px;
  }

  .pink img {
    width: 185px;
    height: 52px;
  }

  .mishka img {
    width: 173px;
    height: 84px;
  }

  /** Footer **/
  /** Карта index.html**/

  footer {
    margin-bottom: 70px;
  }

  .footer-contacts {
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .map {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .contacts {
    position: absolute;
    top: 88px;
    left: 160px;
    width: 250px;
    height: 200px;
    padding: 55px 50px;
    background-color: #ffffff;
    z-index: 2;
  } 
  
  .contacts h2,
  .contacts p {
    margin: 0;
  }

  .contacts h2 {
    margin-top: 30px;
    font-family: "Roboto Bold";
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }

  .contacts h3 {
    margin-top: 0;
    margin-bottom: 35px;
  }

  .contacts p {
    margin-bottom: 25px;
  }

  .contacts a {
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 17px 0;
    line-height: 18px;
    background-color: #fb565a;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
  }

  .contacts a:hover {
    background-color: #e74246;
  }

  .contacts a:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px #c13135 solid;
  }

  .market {
    position: absolute;
    top: 89px;
    right: 27%;
    width: 231px;
    height: 190px;
  }

  /** Контакты **/

  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 70px;
  }

  .footer-links {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  } 

  .footer-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    margin-right: 12px;
    background: red;
    -moz-border-radius: 31px;
    -webkit-border-radius: 31px;
    border-radius: 31px;
    background-color: #e1e1e1;
  }

  .footer-links a:last-of-type {
    margin-right: 0;
  }

  .footer-links a:hover {
    background-color: #fb565a;
  }

  .footer-links a:active {
    background-color: #d6494d;
  }

  .friendship-and-profit {
    width: auto;
    text-align: start;
  }

  .friendship-and-profit b {
    font-family: "Roboto Bold";
    color: #000000;
    font-size: 36px;
    line-height: 36px;
  }
  /** Стили страницы inner.html **/
  /** Шапка немного отличается **/
  
  .welcome-message {
    display: block;
    font-family: "Roboto Medium";
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    padding-bottom: 115px;
  }

  /** Основное содержание магазина inner.html **/

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .choice-form {
    width: 260px;
  }

  .choice-form fieldset {
    margin: 0;
    padding: 0;
  }

/** Стили ролика выборки цены inner.html **/

  .range-filter {
    width: 230px;
  }

  .range-filter h3 {
    margin-bottom: 55px;
  }

  .range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
  }

  .range-controls h3,
  .range-filter h3 {
    font-family: "Roboto Bold";
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
  }  

  .range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }

  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }

  .range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
  }

  .range-controls .toggle-min {
    left: 50px;
  }

  .range-controls .toggle-max {
    left: 110px;
  }

  /** Стили окон диапазона выборки цены inner.html **/

  .price-controls {
    font-size: 0;
  }

  .price-controls label {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    width: 30px;
  }

  .max-price {
    text-align: right;
  }

  .max-price {
    text-align: right;
  }

  .price-controls input[type=text],
  .price-controls input[type=text] {
    width: 50px;
    display: inline-block;
    vertical-align: top;
  }

  .price-controls input {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
  }

  /** Стили для выбора типа сетки inner.html **/

  .choice-form .web-kind,
  .choice-form .differences,
  .choice-form .form-button {
    margin-top: 40px;
    margin-left: 0px;
  }

  .web-kind h3,
  .differences h3 {
    font-family: "Roboto Bold"
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
  }

  .web-kind p,
  .differences p {
    position: absolute;
    left: 35px;
    top: -13px;
    line-height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
  }

  .web-kind input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  .web-kind label[for="button-1"], 
  .web-kind label[for="button-2"],
  .web-kind label[for="button-3"] {
    position: relative;
    display: block;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 25px;
    height: 25px;
    background:  url("../img/radio-off.svg") no-repeat;
    cursor: pointer;
    padding-bottom: 0;  
  }

  input:checked + label[for="button-1"],
  input:checked + label[for="button-2"],
  input:checked + label[for="button-3"] {
    display: block;
    width: 25px;
    height: 25px;
    background:  url("../img/radio-on.svg") no-repeat;
  }

  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  .differences label[for="kind-of-items-1"],
  .differences label[for="kind-of-items-2"],
  .differences label[for="kind-of-items-3"],
  .differences label[for="kind-of-items-4"],
  .differences label[for="kind-of-items-5"] {
    display: block;
    position: relative;
    margin-bottom: 0px;
    padding-left: 40px;
    width: 23px;
    height: 23px;
    background:  url("../img/checkbox-off.svg") no-repeat;
    cursor: pointer;
    padding-bottom: 0px;
  }

  input:checked + label[for="kind-of-items-1"],
  input:checked + label[for="kind-of-items-2"],
  input:checked + label[for="kind-of-items-3"],
  input:checked + label[for="kind-of-items-4"],
  input:checked + label[for="kind-of-items-5"] {
    display: block;
    width: 27px;
    height: 23px;
    background:  url("../img/checkbox-on.svg") no-repeat;
  }

  fieldset {
    border: 0px green solid;
  }
  
  .form-button {
    display: block;
    width: 260px;
    height: 50px;
    font-family: "Roboto Medium";
    line-height: 18px;
    background: #eeeeee;
    color: #000000;
    text-transform: uppercase;
    border: 0 green solid;
    border-radius: 2px;
  }

  .form-button:hover {
    background-color: #dfdfdf;
  }

  .form-button:active {
    background-color: #d5d5d5;
    border-top: 3px #bfbfbf solid;
    color: #959595;
  }

  /** Стили галереи макетов inner.html **/

  .galery {
    display: flex;
    flex-direction: column;
    width: 760px;
    margin-left: 280px;
    padding: 0px;
  }

   /** Стили для панели сортировки **/

  .sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
  }

  .sorting ul, .sorting li {
    margin: 0;
    padding: 0;
  }

  .sorting h3 {
    margin-left: 0;
    font-family: "Roboto Bold";
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
  }

  .sorting ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }

  .sorting li {
    margin-right: 40px;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
  }

  .sorting li a {
    color: #000000;
    opacity: 0.3;
    font-size: 14px;
    line-height: 18px;
  }

  .sorting li a:hover {
    opacity: 0.6;
  }

  .sorting--active,
  .sorting li a:active {
    opacity: 1;
  }

  .btn-go {
    display: block;
    width: 11px;
    height: 10px;
    margin: 0 0 0 10px;
    padding: 0;
    opacity: 0.5;
  }

   /** Стили галереи inner.html **/

  .macket-description {
    width: 760px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .macket-description img {
    margin: 0;
    padding: 0;
  }

  .macket-description a img {
    display: block;
    margin: 0;
    margin-top: -5px;
    padding: 0;
  }

  .box {
    display: inline-block;
    position: relative;
    width: 360px;
    height: 615px;
    background-color: #ffffff;
    margin-bottom: 60px;
    padding-left: 0;
    margin-left: 0;
    border: 1px #e5e5e5 solid;
  }

  .box:hover {
    box-shadow: 0 0 15px 6px #000101;
  }

  .box:hover > .sticker {
    display: block;
  }

  .sticker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 210px;
    padding: 35px 75px 45px 75px;
    height: 150px;
    background-color: #eeeeee;
    display: none;
  }

  .sticker h3 {
    font-family: "Roboto Bold";
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }

  .sticker p {
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
  }

  .sticker button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #fb565a;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
  }

  .sticker a {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  }

  .sticker button:hover {
    background-color: #e74246;
  }

  .sticker button:active {
    background-color: #d7373b;
    border-top: 3px #c13135 solid;
  }

   /** Панель навигации по страницам галереи inner.html **/

  .page-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
  }
   
  .page-number li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    color: #000000;
    margin-right: 10px;
    border-radius: 2px; 
  }

  .page-number a {
    font-family: "Roboto Medium";
    line-height: 18px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
  }

  .page-number ul li:last-child {
    padding: 0 79px;
    margin-right: 0; 
  }

  ul .page-active {
    background-color: #ffffff;
    color: #000000;
    border: 3px #dbdbdb solid;
    box-sizing: border-box;
  }

  .page-number li:hover {
    background-color: #dfdfdf;
  }

  .page-number li:active {
    background-color: #d5d5d5;
    border-top: 3px #bfbfbf solid;
    box-sizing: border-box;
  }

  .page-number li:active a {
    opacity: 0.3;
  }

  .page-number li:last-child {
    width: 260px;
  }

  /** Скрытая форма **/

  .modal-content {
    width: 800px;
    height: 490px;
    background-color: #ffffff;
    padding: 50px 80px;
    margin: 0 auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    bottom: 200px;
    left: 240px;
    z-index: 50;
  }

  .modal-content p b {
    font-family: "Roboto Medium";
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }

  .login-form {
    display: flex;
    justify-content: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .name,
  .mail {
    display: inline-block;
    vertical-align: top;
    width: 360px;
  }

  .letter-txt {
    width: 100%;
  }

  .modal-content-close {
    position: absolute;
    right: 90px;
    top: 80px;
    font-size: 0;
    border: 0;
    cursor: pointer;
  }

  .modal-content h3 {
    display: block;
    font-family: "Roboto Bold";
    line-height: 18px;
    color: #000000;
  }

  .login-form input[type=text] {
    display: block;
    width: 360px;
    height: 50px;
    line-height: 18px;
  }

  .login-form textarea {
    width: 100%;
    height: 118px;
  }

  .login-form input[type=text],
  .login-form textarea {
    border: 2px #d7dcde solid;
    border-radius: 2px;
  }

  .exit {
    margin-top: 48px;
    padding: 17px 80px;
    background-color: #fb565a;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    line-height: 18px;
  }

  .login-form input::placeholder,
  .login-form textarea::placeholder {
    line-height: 18px;
    padding-left: 15px;
    color: #000000;
    opacity: 0.5;
  }

  .login-form input[type=text]:hover, 
  .login-form textarea:hover {
    border-color: #b4b9bb;
  }

  .login-form input[type=text]:focus,
  .login-form textarea:focus {
    border-color: #000000;
  }

  .login-form input[type=text]:focus::placeholder,
  .login-form textarea:focus::placeholder {
    opacity: 1;
  }

  .login-form input[type=text]:invalid,
  .login-form textarea:invalid {
    border-color: #e74246;
  }

  .login-form input[type=text]:invalid::placeholder,
  .login-form textarea:invalid::placeholder {
    color: #e74246;
    opacity: 1;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: -1;
  }

  .modal-content-show {
    display: block;
    animation: bounce 0.6s;
    z-index: 20;
  }

  .modal-error {
    animation: shake 0.6s;
  }

  /* ВЕРСТКА СКРЫТОЙ ФОРМЫ */

  @-webkit-keyframes bounce {
    0% {
        transform: translateX(-2000px);
    }
    70% {
        transform: translateX(30px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }

  @-webkit-keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
  }

  @keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
  }

  ::-webkit-input-placeholder {
    color: black;
  }

  ::-moz-placeholder {
    color: black;
  }
  /* Firefox 19+ */

  :-moz-placeholder {
    color: black;
  }
  /* Firefox 18- */

  :-ms-input-placeholder {
    color: black;
  }
  </body>
</html>